---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/users/show.json?user_id=117057091
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="Tb6Dr9GqfRGAq9L5glvscsxYm", oauth_nonce="af1effaf356f2e54512afc3b33144eb1",
        oauth_signature="xD5XyPO3CMVNyGgVp9t9jUcjYrM%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1597340351", oauth_token="117057091-KBJKpJxBfBMdPTTw65JzKlOQRKu9M1bpMja2rF8j",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Thu, 13 Aug 2020 17:39:12 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write
      X-Connection-Hash:
      - 3bc2ccc843a0753713465354489bc33b
      X-Rate-Limit-Limit:
      - '900'
      X-Rate-Limit-Remaining:
      - '898'
      X-Rate-Limit-Reset:
      - '1597340861'
      X-Response-Time:
      - '139'
      X-Transaction:
      - 00e4dcf600e2f184
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: UTF-8
      string: '{"id":117057091,"id_str":"117057091","name":"\u305d\u308b\u307e","screen_name":"soruma","location":"\u5927\u962a\u5e9c","profile_location":null,"description":"\u30b5\u30a4\u30af\u30ea\u30b9\u30c8\u30a8\u30f3\u30b8\u30cb\u30a2
        \u30df\u30af\u3055\u3093\u3092\u611b\u3059\u308b\u30e1\u30ac\u30cd\u5c5e\u6027\/VB.NET\/Ruby\/Elixier\u52c9\u5f37\u4e2d..","url":null,"entities":{"description":{"urls":[]}},"protected":false,"followers_count":25,"friends_count":59,"listed_count":3,"created_at":"Wed
        Feb 24 11:53:50 +0000 2010","favourites_count":419,"utc_offset":null,"time_zone":null,"geo_enabled":true,"verified":false,"statuses_count":380,"lang":null,"status":{"created_at":"Sat
        Aug 08 03:02:13 +0000 2020","id":1291932701763592192,"id_str":"1291932701763592192","text":"\u3053\u3093\u306a\u6240\u3067\u30df\u30af\u3055\u3093\u306b\u51fa\u4f1a\u3048\u308b\u3068\u306f\u601d\u308f\u306a\u304b\u3063\u305f
        https:\/\/t.co\/hvpsrCKWwx","truncated":false,"entities":{"hashtags":[],"symbols":[],"user_mentions":[],"urls":[],"media":[{"id":1291932616317231104,"id_str":"1291932616317231104","indices":[23,46],"media_url":"http:\/\/pbs.twimg.com\/media\/Ee3d3p1UYAAYkPl.jpg","media_url_https":"https:\/\/pbs.twimg.com\/media\/Ee3d3p1UYAAYkPl.jpg","url":"https:\/\/t.co\/hvpsrCKWwx","display_url":"pic.twitter.com\/hvpsrCKWwx","expanded_url":"https:\/\/twitter.com\/soruma\/status\/1291932701763592192\/photo\/1","type":"photo","sizes":{"thumb":{"w":150,"h":150,"resize":"crop"},"large":{"w":768,"h":1024,"resize":"fit"},"medium":{"w":768,"h":1024,"resize":"fit"},"small":{"w":510,"h":680,"resize":"fit"}}}]},"extended_entities":{"media":[{"id":1291932616317231104,"id_str":"1291932616317231104","indices":[23,46],"media_url":"http:\/\/pbs.twimg.com\/media\/Ee3d3p1UYAAYkPl.jpg","media_url_https":"https:\/\/pbs.twimg.com\/media\/Ee3d3p1UYAAYkPl.jpg","url":"https:\/\/t.co\/hvpsrCKWwx","display_url":"pic.twitter.com\/hvpsrCKWwx","expanded_url":"https:\/\/twitter.com\/soruma\/status\/1291932701763592192\/photo\/1","type":"photo","sizes":{"thumb":{"w":150,"h":150,"resize":"crop"},"large":{"w":768,"h":1024,"resize":"fit"},"medium":{"w":768,"h":1024,"resize":"fit"},"small":{"w":510,"h":680,"resize":"fit"}}}]},"source":"\u003ca
        href=\"http:\/\/twitter.com\/download\/iphone\" rel=\"nofollow\"\u003eTwitter
        for iPhone\u003c\/a\u003e","in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"geo":null,"coordinates":null,"place":{"id":"112335e203146001","url":"https:\/\/api.twitter.com\/1.1\/geo\/id\/112335e203146001.json","place_type":"poi","name":"\u516d\u7532\u5c71","full_name":"\u516d\u7532\u5c71","country_code":"JP","country":"\u65e5\u672c","contained_within":[],"bounding_box":{"type":"Polygon","coordinates":[[[135.23675205723356,34.75209169050684],[135.23675205723356,34.75209169050684],[135.23675205723356,34.75209169050684],[135.23675205723356,34.75209169050684]]]},"attributes":{}},"contributors":null,"is_quote_status":false,"retweet_count":0,"favorite_count":0,"favorited":false,"retweeted":false,"possibly_sensitive":false,"lang":"ja"},"contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"9AE4E8","profile_background_image_url":"http:\/\/abs.twimg.com\/images\/themes\/theme16\/bg.gif","profile_background_image_url_https":"https:\/\/abs.twimg.com\/images\/themes\/theme16\/bg.gif","profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/711080078478737408\/S5rZ-z6C_normal.jpg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/711080078478737408\/S5rZ-z6C_normal.jpg","profile_link_color":"0084B4","profile_sidebar_border_color":"BDDCAD","profile_sidebar_fill_color":"DDFFCC","profile_text_color":"333333","profile_use_background_image":true,"has_extended_profile":false,"default_profile":false,"default_profile_image":false,"following":false,"follow_request_sent":false,"notifications":false,"translator_type":"none","suspended":false,"needs_phone_verification":false}'
  recorded_at: Thu, 13 Aug 2020 17:39:11 GMT
recorded_with: VCR 6.0.0
